:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(119,109,188) !important;
  background: linear-gradient(180deg, rgba(119,109,188,1) 50%, rgba(135,165,212,1) 100%) !important;
  font-family: 'Roboto', sans-serif;
}

label {
  display: block;
}

input[type="text"],
[type="password"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
}

input[type="button"],
button {
  background-color: rgb(39, 131, 212);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
}

nav {
  background-color: #eee;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: rgb(97, 28, 161);
  text-decoration: none;
}

.dashboard {
  width: 500px;
  margin: auto;
}

.errorMessage {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
}

.accordion{
  margin: 0 50px;
}
.titulo-acordeon{
  cursor: pointer;
}
.enlace-acordeon{
  color:#ffffff;
}
.espacio{
  margin-bottom: 10px;
  display: block;
}
.crear{
  background-color: rgb(39, 131, 212);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
}
.fw-500{
  font-weight: 500;
}
.form-check-input[type=radio] {
  border-radius: 50%;
  border-color: #776dbc;
  cursor: pointer;
}
.form-check {
  cursor: pointer;
}
